{% extends "layout.html" %}
{% block content %}

<div class = "w3-container w3-padding-top-48">
    <marquee class="btn btn-success">Trần Minh Long         --      Quách Xuân Nam       --          Nguyễn Trần Lâm         --      Trần Minh Long         --      Quách Xuân Nam       --          Nguyễn Trần Lâm</marquee>
</div>

<div class="w3-row-padding w3-justify w3-container w3-grayscale" style = 'padding-top:20px;margin:auto'>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://scontent.fsgn5-9.fna.fbcdn.net/v/t39.30808-6/282994076_2948500728777336_757415721945823691_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=174925&_nc_ohc=eqfTGOfCUoQAX_x0ujj&tn=aPDnOb9AEhEX7p1z&_nc_ht=scontent.fsgn5-9.fna&oh=00_AfBME3x1VLJYdHVvRBEzYCwp4VdfHHT5LHt0RIPFWlFR-g&oe=6386C14B" 
      alt="Lâm" style="width:100%">
      <h3>Nguyễn Trần Lâm</h3>
      <p class="w3-opacity">20016701</p>
      <p>Nhiệm vụ: Tìm hiểu nguồn gốc và EDA bộ dataset</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://scontent.fsgn5-2.fna.fbcdn.net/v/t1.6435-9/131821351_394646338483456_4183707573237762019_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=174925&_nc_ohc=tfcCX8-aDRIAX_zSlHd&_nc_ht=scontent.fsgn5-2.fna&oh=00_AfA7Z2Bjw-tJTHOFzi-STDwI5xR9_SMK8td3IoKnvFXtlg&oe=63A91FC2" 
      alt="Nam" style="width:100%">
      <h3>Quách Xuân Nam</h3>
      <p class="w3-opacity">20020541</p>
      <p>Nhiệm vụ: Thực hiện trực quan hóa bằng plotly</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://avatars.githubusercontent.com/u/83393197?v=4" alt="https://github.com/MinhLong2410-02" style="width:100%">
      <h3>Trần Minh Long</h3>
      <p class="w3-opacity">20078291</p>
      <p>Nhiệm vụ: Phụ trách backend và frontend của website</p>
    </div>
  </div>

{% endblock %}